<form method="GET" action="/results">
    <label for="searchbutton">Search: </label>
    <input type="text" name="tosearch" id="searchbutton" size="50" placeholder="Please enter search terms.">

    <div>
        <button type="submit">Search</button>
    </div>
</form>